* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header, .top {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 24px;
}

.top-container {
    width: 50%;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 52px;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 36px;
}

.birds {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.bird-info {
    width: 250px;
}

.bird-text {
    color:#1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

#quote {
    color:#1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding: 108px;
    padding-bottom: 20px;
}

#author {
    color:#1F2937;
    font-weight: bold;
    font-size: 28px;
    text-align: right;
    padding-right: 108px;
    padding-bottom: 108px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 52px;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

#top-pic {
    width: 300px;
    height: auto;
    border: none;
}