* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header, .top {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 24px;
}

.top-container {
    width: 50%;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 52px;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 52px;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

#top-pic {
    width: 300px;
    height: auto;
    border: none;
}